.header__worp {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
     margin-top: 30px;
    background: linear-gradient(to right,#0A2B79,#28345C);
     align-items: center;
     height: 110px;
}
.a__txt {
    text-decoration: none;
    color: #A7B1C2;
    font-size: 16px;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
footer {
    background: linear-gradient(to right,#28345C,#A7B1C2);
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
}
main {
    flex: 1;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.img__logo {
    width: 102.1px;
    height: 102.1px;
    border-radius: 20px;
}

ul {
    padding: 10px;
    margin: 0;
}
.hero {
    min-height: 600px;
    background: linear-gradient(to right,#28345C,#A7B1C2)
}
header {
    background: linear-gradient(to right,#28345C,#A7B1C2)
}
h2 {
    margin-top: 0;
}
.hero__h {
    font-size: 70px;
    color: #A7B1C2;
}
.hero__p {
    font-size: 35px;
    color: #A7B1C2;
}
.log__in{
    background-color: #0A2B79;
    border: none;
    color: #A7B1C2;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20%;
}
.sing__in {
    background-color: #0A2B79;
    border: none;
    color: #A7B1C2;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20%;
}
.hero__page {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.img__hero {
    height: 595px;
    width: auto;
}
.mdia__icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.footer__worp {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    justify-content: center;
}
.a__txt:hover {
    color: #CBDEFF;
    border: 2px solid #CBDEFF;
    border-radius: 20px;
    padding: 5px;
}
button:hover {
    background-color: #28345C;
    transform: scale(1.03);
    border: 2px solid #A7B1C2;
}
.img__logo:hover {
    transform: scale(1.03);
}
.expane__worp {
    display: flex;

}
.explen__imgs {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.explen__img4 {
    width: 430px;
    height: 340px;
    border: 2px solid black;
    border-radius: 20px;
}
.expane__txt {
    width: 50%;
}
.expane__1 {
    background-color: lightgray;
    border: 2px solid black;
    min-height: 70vh;
}
.explen__img1 {
    width: 430px;
    height: 340px;
    border: 2px solid black;
    border-radius: 20px;
}
.explen__img2 {
    width: 430px;
    height: 340px;
    border: 2px solid black;
    border-radius: 20px;
}
.explen__img3 {
    width: 430px;
    height: 340px;
    border: 2px solid black;
    border-radius: 20px;
}
.explen__img1:hover {
    transform: scale(1.02);
}
.explen__img2:hover {
    transform: scale(1.02);
}
.explen__img3:hover {
    transform: scale(1.02);
}
.explen__img4:hover {
    transform: scale(1.02);
}
.expane__p1{
    font-size: 20px;
}
.expane__p2 {
    font-size: 20px;

}
.expane__p3 {
    font-size: 20px;
}

.expane__txth {
    font-size: 30px;
}

.expane__h {
    font-size: 40px;
}
.mdia__icon{
    transform: scale(1.02);
    border: 2px solid black;
}








